<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.didichou.inkroot">
    
    <!-- 网络权限 - 必需用于API调用 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- 存储权限 - 用于文件导入导出和图片保存 -->
    <!-- Android 10及以下版本 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    
    <!-- Android 11+的文件管理权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    
    <!-- 相机权限 - 用于拍照插入图片 -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- 麦克风权限 - 用于语音识别 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!-- 图片库权限 - 用于选择和保存图片 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Android 13+保存图片权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    
    <!-- 唤醒锁权限 - 用于后台同步 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- 振动权限 - 用于通知反馈 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- Android 13+推送通知权限 (备用) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- 精确闹钟权限 - 用于提醒通知 (Android 12+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    
    <!-- 前台服务权限 - 用于后台通知 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <!-- 小米设备特殊权限 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    
    <!-- 全屏通知权限 - 用于抬头显示提醒 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    
    <!-- 查询其他应用权限 - 用于url_launcher -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:label="InkRoot"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true">
        
        <!-- 友盟统计配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="68f40dfe644c9e2c20597ea5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="default" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- 🔥 接收分享的文本内容 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            
            <!-- 🔥 接收分享的图片 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            
            <!-- 🔥 接收分享的文件 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            
            <!-- 🔥 接收多个文件/图片 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- 🔥 提醒Activity（全屏弹出，有声音和振动） -->
        <activity
            android:name=".ReminderActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
        
        <!-- 🔔 原生闹钟接收器 - 用于定时提醒 -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <!-- 🔥 关键：监听系统启动，确保闹钟不丢失 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!-- 小米设备 -->
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
